@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arima Madurai', cursive;
}

.app-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
  align-items: center;
  padding: 50px 0 50px 0;
}

.question {
  font-weight: bolder;
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
  font-size: clamp(1.2rem, 2.5vw, 5rem);
}

.question-wrapper {
  max-width: 70vw;
  justify-content: center;
  text-align: center;
}

.choice-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.choice-style {
  padding: 10px;
  font-size: clamp(1rem, 2vw, 3rem);
  cursor: pointer;
  transition: linear 100ms;
  border-radius: 1rem;
  width: 50%;
}

.choice-style:hover {
  background-color: red;
  transition: linear 200ms;
  border-radius: 1rem;
}
